<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ flask.url_for('static', filename = 'css/styles.css') }}">
</script>
</head>
<body>
<div class="container">
  <h1>Files {{path}}</h1>
  <hr>
  <table width="100%">
    {% if path!="/" %}
  <tr>
    <td colspan="2">
    <form method="POST">
      <input type="text" name="path" id="path" style="display:none;" value="'{{ uppath }}'" >
      <button type="submit" class="fbtn">...</button>
    </form>
    </td>
  <tr>
  {% endif %}
  {% for i in files %}
  <tr>
  {% if i[1] == "dir" %}
  <td colspan="2">
  <form method="POST">
    <input type="text"  name="path" id="path" style="display:none;" value="'{{ i[2] }}'" >
    <button type="submit" class="fbtn">
      <span>
        <img src="{{ flask.url_for('static', filename = 'img/dir.png') }}" width="20px"/> {{ i[0] }}
      </span>
    </button>
  </form>
  </td>
  {% else %}
  <td>
  <form method="POST">
    <button type="submit" class="fbtn" disabled>{{ i[0] }}</button>
  </form>
  </td>
  <td width="10%">
    <form method="POST" target="_blank" action="/download">
      <input type="text" name="path" id="path" style="display:none;" value="'{{ i[2] }}'" >
      <button type="submit" class="fbtn">Загрузить</button>
    </form>
  </td>
  {% endif %}
  </tr>
  {% endfor %}
</div>
</body>
</html>